extends ../layout/main

append variables
  - let title = 'Внутренняя страница';

block content
  main.content
    .wrapper
      .grid
        .grid__item.grid__item--10
        .grid__item.grid__item--14
          +svg("youtube")
          //- +youtube("YgmIibSnZs0")
