reset()

html,
body,
.l-page
  height 100% // `Always on the bottom` Footer

html
  font-size 62.5% // 10px

body
  font-family mainFont
  font-size 1.6rem // 16px
  min-width 32rem
  line-height 1.2
  overflow-x hidden
  &.b-popup-open
    overflow hidden

a
  text-decoration none
  color inherit

button
  font-family inherit
  font-size inherit
  font-weight inherit
  background-color transparent
  border none
  cursor pointer
  padding 0
  noOutline()

img
  max-width 100%
  height auto

textarea
  resize none

.l-page
  display flex // `Always on the bottom` Footer
  flex-direction column // `Always on the bottom` Footer

.l-container
  flex-grow 1 // `Always on the bottom` Footer

.l-wrapper
  wrapper()
  height 100%
  position relative

.l-full
  @extend .l-wrapper
  max-width 192rem

[hidden]
  display none

.hidden
  opacity 0
  visibility hidden

#svg-sprite
  position absolute
  size(0)
