font-face("Roboto", "fonts/Roboto/RobotoRegular")
font-face("Roboto", "fonts/Roboto/RobotoBold", bold)
font-face("DINPro", "fonts/DINPro/DINPro")
font-face("DINPro", "fonts/DINPro/DINPro-Bold", bold)
font-face("DINPro", "fonts/DINPro/DINPro-Light", 300)
font-face("DINPro", "fonts/DINPro/DINPro-Medium", 500)
font-face("DINPro", "fonts/DINPro/DINPro-Black", 900)
font-face("Segoe UI", "fonts/SegoeUI/SegoeUI")
