include mixins

//- Шапка
include ../app-components/header/header

//- Подвал
include ../app-components/footer/footer

//- Логотип
include ../app-components/logo/logo

//- Кастомные инпуты
include ../app-components/input/input

//- Главное меню
include ../app-components/menu/menu

//- Баннер
include ../app-components/banner/banner

//- Кнопка "вверх"
include ../app-components/scroll-top/scroll-top

//- YouTube
include ../app-components/youtube/youtube

//- Адаптивные блоки
include ../app-components/relation/relation

//- Шаблоны
include ../app-components/templates/templates

//- Отладка сетки
include ../app-components/debug/debug
