include includeMixins

mixin menuTop(name, link)
  li
    a(href=link) #{name}

mixin svg(name, bem)
  - bem = bem || '';
  svg.icon(class="icon-" + name + ' ' + bem)
    use(xlink:href="#" + name)
      //- ../images/svg/symbols.svg
