reset()

html,
body,
.page
  height 100% // `Always on the bottom` Footer

html
  font-size 62.5% // 10px

body
  font-family mainFont
  font-size 1.6rem // 16px
  min-width 32rem
  line-height 1.2
  overflow-x hidden
  &.popup-open
    overflow hidden

a
  text-decoration none
  color inherit

img
  max-width 100%
  height auto

textarea
  resize none

.page
  display flex // `Always on the bottom` Footer
  flex-direction column // `Always on the bottom` Footer

.container
  flex-grow 1 // `Always on the bottom` Footer

.wrapper
  wrapper()
  height 100%
  position relative

.full
  @extend .wrapper
  max-width 192rem

.no-event
  pointer-events none
  cursor no-drop
  opacity .5

.no-scroll
  overflow -moz-scrollbars-none
  &::-webkit-scrollbar
    width 0

.hidden
  opacity 0
  visibility hidden

#svg-sprite
  position absolute
  size(0)
