html
  line-height 1.2
  font-size 62.5% // 10px

body
  font-family mainFont
  font-size 1.6rem

a
  text-decoration none
  color inherit

textarea
  resize none

.hide
  display none

::selection
  background mainColor
  text-shadow none
