// @import '../node_modules/animate.css/animate.min.css'
// @import '../node_modules/select2/dist/css/select2.min.css'
// @import '../node_modules/magnific-popup/dist/magnific-popup.css'
// @import '../node_modules/slick-carousel/slick/slick.css'
// @import '../node_modules/slick-carousel/slick/slick-theme.css'
