// Настройки nib
@require '_nib.inc'

// Сетка
@require '_smartgrid.inc'

// Подключаем миксины
@require '_mixins.inc'

// Шрифты
@require '_fonts.inc'

// Cтили библиотек
@require '_libs.inc'

// Переменные
@require '_vars.inc'

// Cпрайты
@require '_sprite.inc'

// Подключаем дефолтные настройки
@require '_default.inc'

// БЭМ-блоки
@require 'bem/*'

// Отладка
// @require '_debug.inc'
